<h1>Reporte list</h1>

<table class="records_list" border="1">
    <thead>
        <tr>
            <th>Año</th>
            <th>Trimestre</th>
            <th>Patrimonio</th>
            <th>Utilidad Neta</th>
            <th>Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('reporte_show', { 'id': entity.id }) }}">{{ entity.repAnio }}</a></td>
            <td>{{ entity.repTrimestre }}</td>
            <td>${{ entity.repPatrimonio|number_format(2) }}</td>
            <td>${{ entity.repUtilidadNeta|number_format(2) }}</td>
            <td>{{ entity.id }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('reporte_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reporte_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('reporte_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
