<h1>Reporte</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Repanio</th>
            <td>{{ entity.repAnio }}</td>
        </tr>
        <tr>
            <th>Reptrimestre</th>
            <td>{{ entity.repTrimestre }}</td>
        </tr>
        <tr>
            <th>Reppatrimonio</th>
            <td>{{ entity.repPatrimonio }}</td>
        </tr>
        <tr>
            <th>Reputilidadneta</th>
            <td>{{ entity.repUtilidadNeta }}</td>
        </tr>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('reporte') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('reporte_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('reporte_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
